.card-content {
  max-width: 48rem;
  position: relative;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(208, 82, 82, 1);
  margin-inline: auto;
  margin-top: 5.5rem;
  border-radius: 2rem;
}
.card-paragh {
  display: flex;
  justify-content: center;
  font-size: 1.875rem;
  font-weight: 400;
  padding-top: 1.4rem;
  padding-inline: 7.87rem;
  color: #fff;
}
.card-author {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  padding-bottom: 1.7rem;
  font-weight: 700;
  font-size: 1rem;
}
.card-bookmark-button {
  position: absolute;
  bottom: 1.75rem;
  right: 8.5rem;
  cursor: pointer;

  border: none;
}
@media only screen and (max-width: 640px) {
  .card-content {
    margin-inline: 2rem;
  }
  .card-paragh {
    font-size: 1rem;
    padding-inline: 2rem;
    text-align: center;
  }
  .card-author {
    font-size: 0.5rem;
  }
  .card-bookmark-button {
    bottom: 1rem;
    right: 1rem;
  }
}
