.home-page {
  background-image: linear-gradient(
    256deg,
    rgba(94, 42, 178, 1),
    rgba(22, 30, 108, 1)
  );

  font-size: larger;
  margin: 0 auto;
}
.home-page-navigate {
  margin-top: 1rem;
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.home-page-text {
  color: white;
  text-decoration: none;
  font-size: 26px;
  line-height: 40px;
}
.home-page-text-bold {
  font-weight: 700;
}
.home-page-button-section {
  display: flex;
  justify-content: center;
}
.home-page-next-button {
  border-radius: 1.875rem;
  padding-inline: 3rem;
  padding-block: 0.3rem;
  background-color: rgba(0, 156, 81, 1);
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  cursor: pointer;
}
.active {
  color: white;
}
@media only screen and (max-width: 640px) {
  .home-page {
    height: 100vh;
  }
  .home-page-text {
    font-size: 1rem;
  }
}
